[Unit]
Description=mtg develop

[Service]
User=mtg_django_template_user
Restart=always
RestartSec=5
Nice=1
SuccessExitStatus=0 1
WorkingDirectory=/var/www/python/mtg/
ExecStart=/var/www/python/mtg/venv/bin/uwsgi --ini mtg/config/uwsgi/uwsgi.ini
ExecStop=/var/www/python/mtg/venv/bin/uwsgi --stop mtg/config/uwsgi/mtg.pid

[Install]
WantedBy=multi-user.target
