LOGGING=True
DEBUG=True

DATABASE= #postgres://django4_template_user:django4_template_pass@localhost:5432/django4_template_db
SECRET_KEY=hm#7n<3]anFBJ{;yEH>=ueVq%s(*Mu0EvG:uAv2rYNj=L|q*Ebwd.I.i@Leuw/w
ALLOWED_HOSTS=[*]

GMAIL_LOGIN= #django4_template@gmail.com
GMAIL_PASSWORD= #django4_template_pass