DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=ur_best_project_name_dev
SQL_USER=ur_best_project_name_user
SQL_PASSWORD=ur_best_project_name
SQL_HOST=db
SQL_PORT=5432