LOGGING=True
DEBUG=True

DATABASE= #postgres://mtg_user:mtg_pass@localhost:5432/mtg_db
SECRET_KEY=hm#7n<3]anFBJ{;yEH>=ueVq%s(*Mu0EvG:uAv2rYNj=L|q*Ebwd.I.i@Leuw/w
ALLOWED_HOSTS=[*]

GMAIL_LOGIN= #mtg@gmail.com
GMAIL_PASSWORD= #mtg_pass