DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hadiku_dev
SQL_USER=hadiku_user
SQL_PASSWORD=hadiku
SQL_HOST=db
SQL_PORT=5432