LOGGING=True
DEBUG=True

DATABASE= #postgres://dajngo4_vue_template_user:dajngo4_vue_template_pass@localhost:5432/dajngo4_vue_template_db
SECRET_KEY=hm#7n<3]anFBJ{;yEH>=ueVq%s(*Mu0EvG:uAv2rYNj=L|q*Ebwd.I.i@Leuw/w
ALLOWED_HOSTS=[*]

GMAIL_LOGIN= #dajngo4_vue_template@gmail.com
GMAIL_PASSWORD= #dajngo4_vue_template_pass